* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
}

/*Navigation bar*/

.nav {
	width: auto;
	height: 50px;
}

.nav ul {
	list-style: none;
	text-align: center;
	float: right;
	margin-right: 10px;
	/*background-color: rgba(0, 0, 0, 0.3);*/
}

.nav li {
	/*font-family: 'Oswald', sans-serif;*/
	font-size: 0.8em;
	line-height: 50px;
	height: auto;
	display: inline-block;
	margin: 1px 11px;
}

.nav a {
	color: #000;
}

.nav a:hover {
	text-decoration: underline;
}

/*Main Search*/

.searchbox {
	width: 50%;
	margin: auto;
	padding-top: 200px;
	/*border: 1px solid black;*/
	background: url(https://goo.gl/K3kXpr) no-repeat center;
}

.searchbox .search {
	width: 60%;
	margin: auto;
	margin-bottom: 40px;
	margin-top: 40px;
	display: block;
	/*border: 1px solid black;*/
}

/*Search Bar*/

.searchbox .search .searchbar {
	width: 100%;
	height: 40px;
	margin: auto;
	margin-bottom: 20px;
	padding-left: 20px;
	border: 1px solid rgba(25, 25, 25, 0.2);
	box-shadow: 0px 1px 3px rgba(25, 25, 25, 0.3);
	font-size: 1.0em;
}

.searchbox .search .searchbar:focus {
	border: 1px solid rgba(20, 20, 20, 0.3);
	box-shadow: 2px 3px 3px rgba(25, 25, 25, 0.1),
							-2px 3px 3px rgba(25, 25, 25, 0.1);
}

.searchbox .search .searchbar:hover {
	border: 1px solid rgba(25, 25, 25, 0.3);
	box-shadow: 2px 3px 3px rgba(25, 25, 25, 0.1),
							-2px 3px 3px rgba(25, 25, 25, 0.1);
}

/*Search Buttons*/

.searchbox .searchbuttons {
	margin: auto;
	margin-top: 10px;
	height: 35px;
	text-align: center;
}

.searchbox .searchbuttons button {
	height: 100%;
	margin-left: 2px;
	margin-right: 2px;
	background: linear-gradient(to bottom, rgba(150, 150, 150, 0.1), rgba(150, 150, 150, 0.13));
	/*background-color: rgba(150, 150, 150, 0.1);*/
	font-size: 0.8em;
	font-weight: bold;
	color: rgba(50, 50, 50, 0.68);
	border: 1px solid rgba(170, 170, 170, 0.03);
	border-radius: 2px;
}

.searchbox .searchbuttons button:hover {
	color: black;
	border: 1px solid rgba(100, 100, 100, 0.3);
	background: linear-gradient(to bottom, rgba(150, 150, 150, 0.08), rgba(150, 150, 150, 0.13));
}

.searchbox .searchbuttons button:focus {
	border: 1px solid rgba(66, 134, 244, 1.0);
}

#google-search {
	width: 23%;
}

#feeling-lucky {
	width: 25%;
}

/*Footer*/

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 40px;
	border-top: 1px solid rgba(150, 150, 150, 0.2);
	background: rgba(150, 150, 150, 0.1);
}

.footer .business {
	float: left;
	height: 100%;
	margin-left: 18px;
	/*border: 1px solid black;*/
}

.footer .information {
	float: right;
	height: 100%;
	margin-right: 18px;
	/*border: 1px solid black;*/
}

.footer ul {
	list-style: none;
	text-align: center;
}

.footer li {
	font-size: 0.8em;
	line-height: 40px;
	height: auto;
	display: inline-block;
}

.footer a {
	color: rgba(50, 50, 50, 0.8);
	margin-left: 13px;
	margin-right: 13px;
}

.footer a:hover {
	text-decoration: underline;
}